html {background-color:#2f2f2f;}

#control_panel {
    margin-right:auto;
    margin-left:auto;
    width:410px;
    height:400px;
    border-color:darkslategray;
    border-style:solid;
    border-width:12px;
    border-radius:8px;
}
#event_log {
    display:inline-block;
    width:100px;
    height:200px;
}
#map {
    width:300px;
    display:inline-flex;
    float:left;
}
#display{
    display:inline-block;
}
button {
    cursor:pointer;
    border-style:solid;
    border-width:2px;
    border-bottom:0px;
    border-color:black;
    height:75px;
    width:inherit;
}
button#temperature {
    border-style:solid;
    border-width:2px;
    border-bottom:2px;
    border-color:black;
}
#panic{
    background-color:#662222;
    height:100px;
}
#display_area{
    width:300px;
    height:200px;
    background-color:darkgray
}
#display_area div{
    height:inherit;
}
#context_menu {
    height:200px;
    width:310px;
}

#select_menu {
    float:left;
    display:inline;
    width:100px;
    height:inherit;   
}
.context_hidden {
    display:none;
    height:50px;
    width:50px;
    background-color:#1b344b;
    margin:none;
}
.context_hidden.current{
    display:block;
    width:310px;
    height:inherit;
}
button.current {
    background-color:dimgray;

}
button {
    background-color:#333333;
    color: whitesmoke;
    text-shadow: 0px 0px 5px lightgray;
}
input[type="range"].master {
    background:cadetblue;
    align-content: center;
    width:115px;
}
input[type=range].master::-webkit-slider-thumb{
      -webkit-appearance: default;
  
}
input[type="range"]::-webkit-slider-thumb {
    border: 1px solid #000000;
    background-color:#696969;
    -webkit-appearance:none;
    width:10px;
    height:20px;
    cursor:pointer;
    border-radius:4px;;
    box-shadow: 0px 0px 2px lightgray;
}
input[type="range"] {
    -webkit-appearance:none;
    -webkit-transform: rotate(270deg);
    margin-top:90;
    display:inline-block;
    margin-right:-55px;
    margin-left:px;
    float:left;
    width:90px;
    height:10px;
    border-radius:5px;
    background-color:black;
}
